/*------------------GRID------------------*/

.banner {
  min-height: 695px;
  margin-bottom: 115px;

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__slide img {
    width: 100%;
    object-fit: cover;
  }

  &__slides .swiper-button-next::after {
    width: 100%;
    height: 10px;
    font-size: 0;
    background: url(../../images/banner-arrow.svg) no-repeat center;
  }
  &__slides .swiper-button-prev::after {
    width: 100%;
    height: 10px;
    font-size: 0;
    transform: rotate(180deg);
    background: url(../../images/banner-arrow.svg) no-repeat center;
  }

  &__slides .swiper-button-next {
    right: 30px;
  }

  &__slides .swiper-button-prev {
    left: 30px;
  }

  &__slides .swiper-button-next:hover::before,
  &__slides .swiper-button-prev:hover::before {
    content: "";
    position: absolute;
    background-color: rgba($color: #939191, $alpha: 0.1);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all 0.2s;
  }

  &__slides .swiper-pagination-bullet {
    width: 115px;
    border-radius: 2px;
    height: 3px;
    background-color: #ffffff;
  }

  &__title {
    position: absolute;
    right: calc((100vw - 1560px) / 2);
    max-width: 535px;
    top: 35%;
  }

  &__title h3 {
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.cooperate {
  margin-bottom: 115px;

  &__title {
    margin-bottom: 74px;
  }
  &__slider {
    padding: 0 15px;
  }
  &__slider-items {
    display: flex;
    align-items: center;
  }

  &__slider-item {
    width: 300px;
    height: 171px;
    background: #f3f3f3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider .swiper-button-next::after {
    width: 45px;
    height: 45px;
    font-size: 0;
    transform: rotate(180deg);
    background: url(../../images/arrow.svg) no-repeat center;
  }
  &__slider .swiper-button-prev::after {
    width: 40px;
    height: 40px;
    font-size: 0;
    background: url(../../images/arrow.svg) no-repeat center;
  }

  &__slider .swiper-button-next::before,
  &__slider .swiper-button-prev::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  }

  &__slider .swiper-button-next {
    right: 8px;
    z-index: 9999;
  }

  &__slider .swiper-button-prev {
    left: 8px;
    z-index: 9999;
  }
}

.contract {
  margin-bottom: 115px;
  &__title {
    max-width: 457px;
    margin: 0 auto;
    margin-bottom: 95px;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1088px;
    margin: 0 auto;
  }

  &__item {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__item::before {
    top: -50px;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: #bfbfbf;
  }

  &__item:nth-child(1)::before {
    content: "1";
  }

  &__item:nth-child(2)::before {
    content: "2";
  }

  &__item:nth-child(3)::before {
    content: "3";
    position: absolute;
  }

  &__item img {
    margin-bottom: 15px;
    height: 73px;
  }

  &__item-text {
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 500;
  }

  &__item-btn {
    width: 216px;
  }
}

.production {
  margin-bottom: 115px;
  &__title {
    margin-bottom: 44px;
  }

  &__text {
    text-align: center;
    max-width: 970px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  &__promo {
    position: relative;
  }

  &__promo-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &__promo img {
    width: 100%;
    object-fit: cover;
  }
}

.novelty {
  margin-bottom: 115px;

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 24px 0;
  }

  &__item > *:not(.novelty__item-image) {
    padding: 0 24px;
  }
  &__item-status {
    height: 50px;
    margin-right: auto;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__item-status > * {
    padding: 5px 7px;
    background: #000000;
    border-radius: 3px;
    font-weight: 700;
  }

  &__item-image {
    display: flex;
    align-items: center;
  }

  &__item-image img {
    object-fit: contain;
    height: 314px;
    transition: all 0.3s;
    overflow: hidden;
  }

  &__item-image img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

  &__item-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 17px;
  }

  &__item-link {
    color: #000000;
  }

  &__item-link:hover {
    color: #977627;
  }

  &__item-composition {
    font-size: 12px;
    color: #9a9a9a;
    margin-right: auto;
  }

  &__discount {
    border-radius: 10px;
  }
}

.catalog {
  margin-bottom: 115px;
  &__items {
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 300px));
    gap: 7px;
    grid-auto-flow: dense;
    margin-bottom: 45px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    border-radius: 10px;
    padding: 24px 0;
    height: 296px;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }

  &__item-name {
    font-size: 20px;
    text-align: left;
    display: inline-block;
    margin-right: auto;
    margin-bottom: 7px;
  }

  &__item-name a {
    color: #000000;
  }

  &__item-name a:hover {
    color: #977627;
  }

  &__item-image {
    position: absolute;
    top: 50px;
    z-index: 0;
  }

  &__item-image img {
    display: block;
    margin: 0 auto;
    max-height: 205px;
    transition: all 0.3s;
  }

  &__item-image img:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition: all 0.3s;
  }

  &__item.big &__item-image img {
    max-height: inherit;
  }

  &__item:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
    width: inherit;
  }

  &__item.big {
    height: 600px;
    width: inherit;
  }

  &__item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 1;
    width: inherit;
  }

  &__item-type {
    position: relative;
    z-index: 2;
    margin-right: auto;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    max-width: 200px;
  }

  &__item-type a {
    color: #ffffff;
  }

  &__item-type > * {
    padding: 5px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #000000;
    border-radius: 3px;
    font-weight: 700;
  }

  &__btn {
    margin: 0 auto;
    width: 340px;
  }

  &__btn:hover {
    cursor: pointer;
  }
}

.address {
  margin-bottom: 115px;
  &__map {
    filter: grayscale(90%);
    overflow: hidden;
    position: relative;
  }

  &__map-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    cursor: pointer;
  }

  &__map-bg.active {
    z-index: -1;
  }

  &__map > * {
    border-radius: 10px;
  }
}

.news {
  &__inner {
    display: flex;
  }

  &__big {
    margin-right: 10px;
    flex-basis: 50%;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  &__item {
    flex-basis: 50%;
    margin-bottom: 50px
  }
}
/*------------------------------------------*/
